<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Token Generation</title>
</head>

<body>

	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="row">
			<div class="col mx-auto">
				<h3>Hello, we saw you asked to reset your password.</h3>
				<h3>If was not you please enter in contact with our Support Team</h3>
				<h3>Your Token is: <b th:text="${token}"></b></h3>
				<h3>This token will expires in 30 minutes</h3>
			</div>
		</div>
	</div>

	<script src="../static/js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
</body>

</html>