<!-- Create User -->
<div class="modal fade" id="createUserModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="createUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <form class="text-dark modal-content" (ngSubmit)="createNewUser()" #createUserForm="ngForm">

            <div [ngClass]="isDarkMode ? 'bg-white modal-header' : 'text-white bg-dark modal-header'">
                <h1 class="modal-title fs-5">Create new user</h1>
                <button type="reset" (click)="createUserForm.reset" [disabled]="waitingActionResponse"
                    class="btn close-btn" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <div *ngIf="waitingActionResponse" class="spinner-border text-danger container-fluid" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <div *ngIf="!waitingActionResponse"
                [ngClass]="isDarkMode ? 'text-white bg-dark modal-body' : 'text-dark bg-white modal-body'">

                <div *ngIf="errorModalMessage != null" class="text-center text-dark alert alert-dark" role="alert">
                    <i class="bi bi-exclamation-triangle" style="color: #C30618;"></i>
                    {{errorModalMessage}}
                </div>
                <div *ngIf="successModalMessage != null" class="text-center text-dark alert alert-dark" role="alert">
                    <i class="bi bi-check-circle-fill" style="color: #00BF63;"></i>
                    {{successModalMessage}}
                </div>

                <div class="input-group has-validation mb-2">
                    <div class="form-floating"
                        [ngClass]="nameData.invalid && nameData.errors?.['required'] && (nameData.dirty || nameData.touched) ? 'is-invalid' : ''">
                        <input type="text" class="form-control"
                            [ngClass]="nameData.invalid && nameData.errors?.['required'] && (nameData.dirty || nameData.touched) ? 'is-invalid' : ''"
                            name="nameData" #nameData="ngModel" id="nameDataInput" placeholder="Name" required ngModel>
                        <label for="nameDataInput">
                            <i class="bi bi-person-badge-fill"></i>
                            Name
                        </label>
                    </div>

                    <div class="invalid-feedback"
                        *ngIf="nameData.invalid && nameData.errors?.['required'] && (nameData.dirty || nameData.touched)">
                        Please enter with valid data
                    </div>
                </div>

                <div class="input-group has-validation mb-2">
                    <div class="form-floating"
                        [ngClass]="emailData.invalid && emailData.errors?.['required'] && (emailData.dirty || emailData.touched) ? 'is-invalid' : ''">
                        <input type="text" class="form-control"
                            [ngClass]="emailData.invalid && emailData.errors?.['required'] && (emailData.dirty || emailData.touched) ? 'is-invalid' : ''"
                            name="emailData" #emailData="ngModel" id="emailDataInput" placeholder="Name" required ngModel email>
                        <label for="emailDataInput">
                            <i class="bi bi-envelope-fill"></i>
                            Email
                        </label>
                    </div>

                    <div class="invalid-feedback"
                        *ngIf="emailData.invalid && emailData.errors?.['required'] && (emailData.dirty || emailData.touched)">
                        Please enter with valid data
                    </div>
                </div>

                <div class="form-floating mb-2">
                    <select class="form-select" id="roleData" aria-label="Select a role"
                        aria-placeholder="Select a role..." name="roleData" #roleData="ngModel" ngModel required>
                        <option value="ADMIN">ADMIN</option>
                        <option value="SUPPORT">SUPPORT</option>
                        <option value="SUPPORT MANAGER">SUPPORT MANAGER</option>
                        <option value="SALES">SALES</option>
                        <option value="SALES MANAGER">SALES MANAGER</option>
                    </select>
                    <label for="roleData">
                        <i class="bi bi-briefcase-fill"></i>
                        Role
                    </label>
                </div>

            </div>
            <div [ngClass]="isDarkMode ? 'bg-white modal-footer' : 'text-white bg-dark modal-footer'">
                <button type="reset" [disabled]="waitingActionResponse" (click)="createUserForm.reset" class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    <i class="bi bi-x"></i>
                    Cancel
                </button>
                <button type="submit" [disabled]="waitingActionResponse || !createUserForm.valid" class="btn btn-success">
                    <i class="bi bi-person-add"></i>
                    Save user
                </button>
            </div>
        </form>
    </div>
</div>

<div class="container text-center main-area">

    <div class="row">
        <div class="col-12 mt-3 text-white">
            <h2>User list</h2>
            <hr>
        </div>
        <div class="row mb-2">
            <div class="col-4 main-btn-area">
                <button class="btn me-2 btn-dark" data-bs-toggle="modal" data-bs-target="#createUserModal">
                    <i class="bi bi-person-add"></i>
                    Create user
                </button>
                <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#sendToEmailModal">
                    <i class="bi bi-file-earmark-spreadsheet"></i>
                    Upload Users
                </button>
            </div>

            <div class="col">
                <div class="d-flex flex-wrap align-items-center">
                    <button class="btn dropdown-toggle" style="background-color: #FF3131;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-funnel"></i>
                    </button>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="dropdown-item" type="button">
                                <div class="form-check">
                                    <input class="form-check-input" value="name" type="radio" name="SearchByName"
                                        id="SearchByName">
                                    <label class="form-check-label custom-text" for="SearchByName">
                                        <i class="bi bi-person-badge-fill"></i>
                                        Name
                                    </label>
                                </div>
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item" type="button">
                                <div class="form-check">
                                    <input class="form-check-input" value="email" type="radio" name="SearchByEmail"
                                        id="SearchByEmail">
                                    <label class="form-check-label custom-text" for="SearchByEmail">
                                        <i class="bi bi-envelope-at"></i>
                                        Email
                                    </label>
                                </div>
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item" type="button">
                                <div class="form-check">
                                    <input class="form-check-input" value="role" type="radio" name="SearchByRole"
                                        id="SearchByRole">
                                    <label class="form-check-label custom-text" for="SearchByRole">
                                        <i class="bi bi-boxes"></i>
                                        Role
                                    </label>
                                </div>
                            </a>
                        </li>

                    </ul>

                    <div class="flex-grow-1 flex-shrink-1 me-1">
                        <select class="form-select" aria-label="Default select example"
                            aria-placeholder="Select a role...">
                            <option value="ADMIN">ADMIN</option>
                            <option value="SUPPORT">SUPPORT</option>
                            <option value="SUPPORT MANAGER">SUPPORT MANAGER</option>
                            <option value="SALES">SALES</option>
                            <option value="SALES MANAGER">SALES MANAGER</option>
                        </select>
                    </div>

                    <div class="flex-grow-1 flex-shrink-1 me-1">
                        <input class="form-control" type="search" placeholder="Type here..." aria-label="Search">
                    </div>

                    <button class="btn" style="background-color: #FF3131;">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col">
            <table class="table table-hover table-sm mt-2">
                <thead>
                    <tr>
                        <th scope="col">
                            <i class="bi bi-person-fill"></i>
                            NAME
                        </th>
                        <th scope="col">
                            <i class="bi bi-envelope-fill"></i>
                            EMAIL
                        </th>
                        <th scope="col">
                            <i class="bi bi-briefcase-fill"></i>
                            ROLE
                        </th>
                        <th scope="col">
                            <i class="bi bi-person-fill-gear"></i>
                            UPDATE
                        </th>
                        <th scope="col">
                            <i class="bi bi-trash"></i>
                            DELETE
                        </th>
                    </tr>
                </thead>
                <tbody class="table-dark">
                    <tr>
                        <td>Test Jhon</td>
                        <td>test@test.com</td>
                        <td>ADMIN</td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">
                                <i class="bi bi-person-fill-gear"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <br>
</div>