<div class="container mb-5" style="border-radius: 5px;background-color: rgba(255, 255, 255, 0.534);">
    <div class="d-flex flex-column mt-5">
      <div class="container">
        <br>
        <h3>Updated Course</h3>
        <hr/>
        <div *ngIf="errorMessage !== null" class="alert alert-danger" role="alert">
          <i class="bi bi-exclamation-diamond"></i>
          {{ errorMessage }}
        </div>
        <div *ngIf="successMessage !== null" class="alert alert-success" role="alert">
          <i class="bi bi-check2-circle"></i>
          {{ successMessage }}
        </div> 
        <app-spinner *ngIf="isLoading" style="margin-left: 40vw;"></app-spinner>
        <form *ngIf="!isLoading" (ngSubmit)="onUpdatedCourse()" #updatedform="ngForm">
          
          <div class="row">
            <div class="form-floating mb-3 col">

              <input
                type="text"
                class="form-control"
                id="courseName"
                placeholder="jhon doe"
                name="courseName"
                #courseName="ngModel"
                [(ngModel)] = "_courseName"
                required
              />
              <label for="courseName">
                <i class="bi bi-journal"></i>
                Course name*
              </label>
              <span
                class="help-block"
                style="color: red"
                *ngIf="!courseName.valid && courseName.touched"
                >Please enter with valid data</span
              >
            </div>

          </div>

          <div class="row">
            <div class="form-floating mb-3 col">
              <input
                type="text"
                id="course_field"
                class="form-control"
                placeholder="courseField"
                #courseField="ngModel"
                [(ngModel)] = "_courseField"
                name="courseField"
                required
              />
              <label for="courseField">
                <i class="bi bi-journal-richtext"></i>
                Course Field*
              </label>
              <span
                class="help-block"
                style="color: red"
                *ngIf="!courseField.valid && courseField.touched"
                >Please enter with valid data</span
              >
            </div>
            <div class="form-floating mb-3 col-3">
              <input
                type="number"
                min="0"
                class="form-control"
                id="coursePrice"
                placeholder="coursePrice"
                [(ngModel)] = "_coursePrice"
                #coursePrice="ngModel"
                name="coursePrice"
                required
              />
              <label for="coursePrice">
                <i class="bi bi-cash"></i>
                Course Price*
              </label>
              <span
              class="help-block"
              style="color: red"
              *ngIf="!coursePrice.valid && coursePrice.touched"
              >Please enter with valid data</span
              >
            </div>
            <div class="form-floating mb-3 col-3">
              <select class="form-select form-floating" id="courseModality" required name="courseModality" #courseModality="ngModel" [(ngModel)] = "_courseModality" aria-label="Default select example">
                <option value="Online">Online</option>
                <option value="Local">Local</option>
                <option value="Hybrid">Hybrid</option>
                <option value="Online/Local">Online/Local</option>
                <option value="Online/Hybrid">Online/Hybrid</option>
                <option value="Local/Hybrid">Local/Hybrid</option>
                <option value="Online/Local/Hybrid">Online/Local/Hybrid</option>
  
              </select>
              <label class="form-label" for="courseModality">
                <i class="bi bi-laptop"></i>|<i class="bi bi-building"></i>
                Course Modality*
              </label>
            </div>
          </div>

          <hr/>

          <div class="text-center">
            <button
            type="submit"
            [disabled]="!updatedform.valid"
            class="btn btn-outline-primary me-2"
          >
            <i class="bi bi-journal-arrow-up"></i>
            Updated
          </button>

          <button class="btn btn-outline-danger ms-2" (click)="onCancel()">
            <i class="bi bi-x"></i>
            Cancel
          </button>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
  