<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Token Generation</title>
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{css/bootstrap.css}">
</head>

<body>

	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="row">
			<div class="col mx-auto">
				<h3>Hello, we saw you asked to reset your password.</h3>
				<h3>If was not you please enter in contact with our Support Team</h3>
				<h3>Your Token is: </h3>
				<ul class="list-group">
					<li class="list-group-item"><b th:text="${token}"></b></li>
				</ul>
			</div>
		</div>
	</div>

	<script src="../static/js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
</body>

</html>