<!-- Modal that shows the student information  -->
<div class="modal fade" id="student_information" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-spinner style="margin-left: 40%;" *ngIf="isLoadingInformations"></app-spinner>
      <div class="modal-header bg-dark" *ngIf="!isLoadingInformations">
        <h1 class="modal-title fs-5 text-warning" id="exampleModalLabel">{{ _name }}</h1>
        <button type="button" style="background-color: orange;" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark" *ngIf="!isLoadingInformations">
        <ul class="list-group list-group-flush bg-dark">
          <li class="list-group-item bg-dark text-warning">Field: {{ _field }}</li>
          <li class="list-group-item bg-dark text-warning">Price: ${{ _price }}</li>
          <li class="list-group-item bg-dark text-warning">Modality: {{ _modality }}</li>
          <li class="list-group-item bg-dark text-warning">Creation Date: {{ _creation_date }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-warning">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete course</h1>
        <button type="button" style="background-color: orange;" (click)="idForDelete = null" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You really want to delete the course register?
        <br>
        Action can't be undone after confirmation
      </div>
      <div class="modal-footer">
        <button type="button" id="confirmDelete" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCourse(idForDelete)">Delete</button>
        <button type="button" id="cancelDelete" class="btn btn-dark" (click)="idForDelete = null" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="container text-center mb-5" style="border-radius: 5px;background-color: rgba(255, 255, 255, 0.534);">
  <div class="d-flex flex-column mt-5 align-items-center">
    <div class="container">
      <div *ngIf="errorMessage !== null" id="errorMSG" class="alert alert-danger" role="alert">
        <i class="bi bi-exclamation-diamond"></i>
        {{errorMessage}}
      </div>
      <div *ngIf="successMessage !== null" id="successMSG" class="alert alert-success" role="alert">
        <i class="bi bi-check2-circle"></i>
        {{successMessage}}
      </div>
      <br>
      <h3>Search Course</h3>
      <hr>
      <div class="d-flex text-center">
        <select [(ngModel)]="searchType" class="form-select form-select-lg" style="width: 15%;margin-left: 15%;" aria-label=".form-select-lg example">
          <option value="name">Name</option>
          <option value="document">Field</option>
        </select>
        <input [(ngModel)]="dataforSearch" class="form-control me-2" style="width: 50%;" type="text" placeholder="Type here..."
          aria-label="Search">
        <button class="btn btn-outline-success" (click)="searchCourse()">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <hr>
      <app-spinner *ngIf="isLoading"></app-spinner>
      <div class="d-flex flex-column mt-5" *ngIf="courseData === null">
        <img src="assets/imgs/undraw_Empty_re_opql.png" alt="empty list" class="ms-2" style="opacity: 0.8;" width="900" height="500">
      </div>

      <div *ngIf="!isLoading">
        <table class="table table-hover" *ngIf="courseData !== null">
          <thead class="table-dark">
            <tr>
              <th scope="col">
                Name
              </th>
              <th scope="col">
                Field
              </th>
              <th scope="col">
                Price
              </th>
              <th scope="col">
                Update
              </th>
              <th scope="col">
                Delete
              </th>
            </tr>
          </thead>
          <tbody class="bg-warning">
            <tr *ngFor="let course of courseData;index as i">
              <th>
                <a data-bs-toggle="modal" data-bs-target="#student_information" role="button"
                  style="text-decoration: underline;color: black;" (click)="getCourseById(course.course_id)">
                  {{course.course_name}}
                </a>
              </th>
              <td>
                {{course.course_field}}
              </td>
              <td>
                ${{course.course_price}}
              </td>
              <td>
                <button class="btn btn-dark" [id]="'updateBtn'+i" (click)="updatedCourse(course.course_id)">
                  <i class="bi bi-journal-arrow-up"></i>
                </button>
              </td>
              <td>
                <button [id]="'deleteBtn'+i" class="btn btn-danger" (click)="idForDelete = course.course_id" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  <i class="bi bi-journal-x"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>