<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>

	<header th:replace="fragments/header :: header"></header>
	<td class="esd-stripe" align="center">
		<table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center"
			style="border-bottom:10px solid transparent;">
			<tbody>
				<tr>
					<td class="esd-structure es-p20t es-p15b es-p30r es-p30l" align="left" bgcolor="#867d7d"
						style="background-color: #867d7d; background-image: url(https://mojpey.stripocdn.email/content/guids/CABINET_3594c6d1d0d8e6d1a0e32c350bd7c6e2b590da6289e079dc742a6a58c489a06f/images/backgroundjpg.jpg); background-repeat: no-repeat; background-position: center top;"
						background="https://mojpey.stripocdn.email/content/guids/CABINET_3594c6d1d0d8e6d1a0e32c350bd7c6e2b590da6289e079dc742a6a58c489a06f/images/backgroundjpg.jpg">
						<table width="100%" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td class="esd-container-frame" width="540" valign="top" align="center">
										<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#010101"
											style="background-color: #010101;">
											<tbody>
												<tr>
													<td align="center" class="esd-block-text es-p10" bgcolor="#f8f7f7">
														<p style="line-height: 120%; color: #1d0100;"><em><strong>Hii
																	hope you are good.</strong></em></p>
														<p style="line-height: 120%; color: #1d0100; text-align: left;">
															<em><strong>Below is your payment information:</strong></em>
														</p>
														<ul>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p style="line-height: 120%;"><em><strong th:text="'Course: '+${course}"></strong></em></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p style="line-height: 120%;"><em><strong th:text="'Price: $'+{price}"></strong></em></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p style="line-height: 120%;"><em><strong th:text="'Promotion: '+${promotionName}+' - $'+${descountAmount}"></strong></em></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p style="line-height: 120%;"><em><strong th:text="'Total: $'+${total}"></strong></em></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p style="line-height: 120%;"><em><strong th:text="'Payment method: '+${method}"></strong></em></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p style="line-height: 120%;"><em><strong th:text="'Status: '+${status}"></strong></em></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p style="line-height: 120%;"><em><strong th:text="'Receipt date: '+${date}"></strong></em></p>
															</li>
														</ul>
														<table border="1" align="center" cellspacing="1" cellpadding="1"
															dir="ltr" style="width:100%;" class="es-table">
															<tbody></tbody>
														</table>
														<p style="line-height: 120%; color: #1d0100; text-align: left;">
															<br></p>
														<p
															style="line-height: 120%; color: #1d0100; text-align: center; font-size: 16px;">
															<em><strong><span style="background-color: #add8e6;">All our
																		knowledge begins with
																		feelings.</span></strong></em></p>
														<p style="line-height: 120%; color: #1d0100; text-align: left;">
															<br></p>
														<p style="line-height: 120%; color: #1d0100; text-align: left;">
															<em><strong>If you have any questions, please contact our
																	customer service by:<br>&nbsp; &nbsp; &nbsp; SAP
																	Phone: +44 (22) 222222222<br>&nbsp; &nbsp; &nbsp;
																	Email: StudentHomeSAP@outlook.com<br><br>&nbsp;
																	&nbsp; DON'T REPLY THIS EMAIL</strong></em><br><br>
														</p>
													</td>
												</tr>
												<tr th:replace="fragments/footer :: footer1"></tr>
												<tr th:replace="fragments/footer :: footer2"></tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>

</body>

</html>