@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    min-height: 123vh;
    background-color: rgba(255, 255, 255, 0.349);
}

.users-role-qtd-container h2, hr{
    color: white;
}
