.bubbles{
    position: relative;
    display: flex;
    z-index: -100;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 
        0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc
    ;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
    background-color: #3b2dff;
    box-shadow: 
        0 0 0 10px #3b2dff44,
        0 0 50px #3b2dff,
        0 0 100px #3b2dff
    ;
}

@keyframes animate{
    0%{
        transform: translateY(88vh) scale(0);
    }
    100%{
        transform: translateY(-5vh) scale(1);
    }
}

.table-container{
    background-color: #4444446e;
}

.custom-text{
    font-weight: 500;
    letter-spacing: 0.1em;
    color: white;
}

.custom-text input{
    font-weight: 500;
    letter-spacing: 0.1em;
    color: white;
}

.form-floating input{
    background-color: #47464e;
}

input:focus{
    box-shadow: 
        0 0 0 5px #007bff44,
        0 0 10px #007bff,
        0 0 100px #007bff
    ;
}

.btn-outline-danger:hover{
    box-shadow: 
    0 0 0 5px #dc354544,
    0 0 10px #dc3545,
    0 0 100px #dc3545;
}

.btn-outline-success:hover{
    box-shadow: 
    0 0 0 5px #28a74544,
    0 0 10px #28a745,
    0 0 100px #28a745;
}