<hr>
<div>

    <!-- Alerts -->
    <div class="alert alert-success" *ngIf="successMsg != null" role="alert">
        <i class="bi bi-check-circle"></i>
        {{successMsg}}
    </div>
    <div class="alert alert-warning" *ngIf="errorMsg !=null" role="alert">
        <i class="bi bi-exclamation-circle"></i>
        {{errorMsg}}
    </div>

    <p class="text-white">Set the new password.</p>

    <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">

        <div class="form-floating mb-3">
            <input type="{{ showPassword ? 'text' : 'password' }}" minlength="8" class="form-control"
                id="passwordAddInput" placeholder="******" name="passwordAddInput" [(ngModel)]="password_input" required
                #passwordAddInput="ngModel">
            <label for="passwordAddInput" style="color: black;">
                <i class="bi bi-key"></i>
                Password
            </label>
            <div *ngIf="passwordAddInput.invalid && (passwordAddInput.dirty || passwordAddInput.touched)" class="alert">
                <span class="help-block" style="color: red" *ngIf="passwordAddInput.errors?.['required']">
                    Please enter valid data
                </span>
                <span class="help-block" style="color: red" *ngIf="passwordAddInput.errors?.['minlength']">
                    Password must be at least 8 characters long
                </span>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="passwordConfirmAddInput"
                placeholder="*******" name="passwordConfirmAddInput" [(ngModel)]="confirmPassword" required
                #passwordConfirmAddInput="ngModel">
            <label for="passwordConfirmAddInput" style="color: black;">
                <i class="bi bi-key"></i>
                Confirm Password
            </label>

            <span class="help-block alert" style="color: red"
                *ngIf="passwordConfirmAddInput.invalid && (passwordConfirmAddInput.dirty || passwordConfirmAddInput.touched)">
                Please enter valid data
            </span>
            <br>
            <span class="help-block alert" style="color: red" *ngIf="password_input !== confirmPassword">
                Passwords do not match
            </span>
        </div>

        <div class="mb-3" style="width: 100%;">
            <button class="btn btn-light" type="button" (click)="changePwdVisibility()">
                <i class="bi bi-eye" *ngIf="showPassword == true"></i>
                <i class="bi bi-eye-slash" *ngIf="showPassword == false"></i>
            </button>
            <button class="btn btn-dark" type="submit"
                [disabled]="resetPasswordForm.invalid || password_input !== confirmPassword" style="margin-left: 30%;">
                <i class="bi bi-envelope-at"></i>
                Reset Password
            </button>
        </div>

    </form>

</div>