<!-- Background animation -->
<div class="bubbles">
  <span style="--i:11"></span>
  <span style="--i:12"></span>
  <span style="--i:24"></span>
  <span style="--i:10"></span>
  <span style="--i:14"></span>
  <span style="--i:17"></span>
  <span style="--i:23"></span>
  <span style="--i:18"></span>
  <span style="--i:16"></span>
  <span style="--i:19"></span>
  <span style="--i:20"></span>
  <span style="--i:22"></span>
  <span style="--i:19"></span>
  <span style="--i:25"></span>
  <span style="--i:18"></span>
  <span style="--i:21"></span>
  <span style="--i:19"></span>
  <span style="--i:15"></span>
  <span style="--i:13"></span>
  <span style="--i:28"></span>
  <span style="--i:26"></span>
  <span style="--i:17"></span>
  <span style="--i:13"></span>
  <span style="--i:30"></span>
  <span style="--i:14"></span>
  <span style="--i:26"></span>
  <span style="--i:10"></span>
  <span style="--i:13"></span>
  <span style="--i:27"></span>
  <span style="--i:30"></span>
  <span style="--i:13"></span>
  <span style="--i:16"></span>
  <span style="--i:23"></span>
  <span style="--i:18"></span>
  <span style="--i:20"></span>
</div>

<div class="container mb-5 table-container">
  <div class="d-flex flex-column mt-5">
    <app-spinner *ngIf="isLoadingInformation" style="margin-left: 45%;"></app-spinner>
    <div class="container" *ngIf="!isLoadingInformation">
      <br>
      <div *ngIf="errorMessage !== null" id="errorMSG" class="alert alert-danger" role="alert">
        <i class="bi bi-exclamation-diamond"></i>
        {{errorMessage}}
      </div>
      <h3 class="custom-text">Student Management: {{ studentName }}</h3>
      <hr class="custom-text">
      <ul class="nav nav-pills mb-3" style="margin-left: 23%;">
        
        <li class="nav-item me-1">
          <button class="custom-text btn btn-dark" (click)="goToStudentPage()">
            <i class="bi bi-arrow-left-circle"></i>
          </button>
        </li>

        <li class="nav-item">
          <a class="nav-link animated-btn bg-dark" routerLinkActive="activated" routerLink="/StudentManagement/StudentCourse">
            <i class="bi bi-book"></i>
            Courses
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link animated-btn bg-dark" routerLinkActive="activated" routerLink="/StudentManagement/StudentGrades">
            <i class="bi bi-list-task"></i>
            Grades
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link animated-btn bg-dark" routerLinkActive="activated" routerLink="/StudentManagement/StudentPayments">
            <i class="bi bi-receipt"></i>
            Payments
          </a>
        </li>

      </ul>

      <hr>

      <router-outlet></router-outlet>

    </div>
  </div>
</div>