<app-spinner *ngIf="isLoading"></app-spinner>
<div id="login-area">

    <div class="grid align-item-center form-area-helper" id="login-form-area">
        <div class="row">
            <div class="col col-md col-sm">

                <form class="container" (ngSubmit)="changeTemporaryPassword()" #resetPasswordForm="ngForm">

                    <div *ngIf="errorMessage != null" class="alert alert-dark text-center text-white" role="alert">
                        <i class="bi bi-exclamation-triangle" style="color: red;"></i>
                        {{errorMessage}}
                    </div>

                    <div *ngIf="successMessage != null" class="alert alert-dark text-center text-white" role="alert">
                        <i class="bi bi-check-circle-fill" style="color: green;"></i>
                        {{successMessage}}
                    </div>

                    <div class="d-flex justify-content-center">
                        <img src="/assets/images/logo1.png" alt="logo" class="mb-4" id="login-form-img">
                    </div>

                    <div class="d-flex justify-content-center text-center">
                        <h5 class="text-white">Please, type the new password</h5>
                    </div>

                    <div id="fields-error" *ngIf="(confirmPassword.invalid || newPassword.invalid) && (confirmPassword.dirty || confirmPassword.touched || newPassword.dirty || newPassword.touched) || newPasswordData !== confirmPasswordData" class="alert">
                        <div class="d-flex justify-content-center text-center">
                            <span class="help-block" *ngIf="newPassword.errors?.['minlength'] || confirmPassword.errors?.['minlength']">
                                Password must have at least 12 characters
                            </span>
                        </div>
                        <div class="d-flex justify-content-center text-center">
                            <span class="help-block" *ngIf="newPasswordData !== confirmPasswordData">
                                Passwords don't match*
                            </span>
                        </div>
                        <div class="d-flex justify-content-center text-center">
                            <span class="help-block" *ngIf="uppercaseRegex.test(newPasswordData) == false || specialCharRegex.test(newPasswordData) == false">
                                Password must contain uppercase letters and special character
                            </span>
                        </div>
                    </div>

                    <div class="form-floating mb-3 ms-5 me-5">
                        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" minlength="12" id="newPassword-input" placeholder="New Password"
                            name="newPassword" #newPassword="ngModel" [(ngModel)]="newPasswordData" required>
                        <label for="newPassword-input">
                            <i class="bi bi-key-fill"></i>
                            New Password
                        </label>
                    </div>

                    <div class="form-floating mb-3 ms-5 me-5">
                        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="confirmPassword-input"
                            placeholder="Confirm Password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="confirmPasswordData" required>
                        <label for="confirmPassword-input">
                            <i class="bi bi-key-fill"></i>
                            Confirm Password
                        </label>
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-dark me-2" (click)="showPwd()">
                            <i class="bi bi-eye" *ngIf="showPassword == true"></i>
                            <i class="bi bi-eye-slash" *ngIf="showPassword == false"></i>
                        </button>
                        <button type="submit" [disabled]="!resetPasswordForm.valid || newPasswordData !== confirmPasswordData" class="btn btn-dark">
                            <i class="bi bi-arrow-clockwise"></i>
                            Set Password
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>