.animated-btn{
    background-color: #444;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 0.5s;
    color: white;
}

.animated-btn:hover{
    letter-spacing: 0.15em;
    background-color: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

.animated-btn::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #27282c;
}

.animated-btn-span{
    position: relative;
    z-index: 1;
}

#animated-btn-submenu{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 0.5s;
    color: white;
    background-color: #27282c;
}

#animated-btn-submenu:hover{
    letter-spacing: 0.15em;
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}