<nav class="navbar navbar-expand-lg" style="background-color: black;">

    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="assets/imgs/Student.png" alt="student logo" width="120" height="120">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle animated-btn" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="--clr:#1e9bff">
                        <span class="animated-btn-span">
                            <i class="bi bi-person"></i>
                            Student Area
                            <i class="bi bi-arrow-down-short"></i>
                        </span>
                    </a>

                    <ul class="dropdown-menu" style="background-color: #27282c;">

                        <li>

                            <a class="nav-link" id="animated-btn-submenu" aria-current="page" routerLinkActive="active"
                                routerLink="/Students" style="--clr:#1e9bff">
                                <i class="bi bi-mortarboard"></i>
                                Students
                            </a>

                        </li>

                        <li>
                            <hr class="dropdown-divider" style="background-color: #1e9bff;">
                        </li>

                        <li>

                            <a class="nav-link animated-btn-submenu" id="animated-btn-submenu" routerLinkActive="active"
                                routerLink="/AddStudent" style="--clr:#1e9bff">
                                <i class="bi bi-person-fill-add"></i>
                                Add Student
                            </a>

                        </li>

                    </ul>

                </li>

                <li class="nav-item dropdown bg-dark">

                    <a class="nav-link dropdown-toggle text-warning" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">

                        <i class="bi bi-easel2"></i>
                        Courses Area

                    </a>

                    <ul class="dropdown-menu bg-dark">
                        <li>
                            <a class="nav-link text-warning" aria-current="page" routerLinkActive="active"
                                routerLink="/Courses">
                                <i class="bi bi-journal-bookmark"></i>
                                Courses
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider bg-warning">
                        </li>
                        <li>
                            <a class="nav-link text-warning" routerLinkActive="active" routerLink="/AddCourse">
                                <i class="bi bi-journal-plus"></i>
                                Add Course
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>