<app-spinner *ngIf="isLoadingInformations" style="margin-left: 45%;"></app-spinner>
<div class="container-fluid text-center" *ngIf="!isLoadingInformations">

    <div class="alert alert-danger" *ngIf="errorMessage !== null" role="alert">
        <i class="bi bi-exclamation-diamond"></i>
        {{errorMessage}}
    </div>

    <div class="alert alert-success" *ngIf="successMessage !== null" role="alert">
        <i class="bi bi-exclamation-diamond"></i>
        {{successMessage}}
    </div>

    <div class="input-group mb-2" style="width: 50%;margin-left: 25%;">

        <button class="btn btn-dark custom-text" type="button">
            <i class="bi bi-hourglass-top">From</i>
        </button>
        <input type="date" class="form-control me-2 custom-text" [(ngModel)]="fromDate">

        <button class="btn btn-dark custom-text" type="button">
            <i class="bi bi-hourglass-bottom custom-text">Until</i>
        </button>
        <input type="date" class="form-control me-2 custom-text" [(ngModel)]="untilDate">

        <button class="btn btn-outline-success" type="button" (click)="searchPaymentsByCreationDate()">
            <i class="bi bi-search"></i>
        </button>

    </div>
    <span class="help-block" style="color: red" *ngIf="emptyInput === true">Please enter with data in both fields</span>

    <hr>

    <div class="d-flex flex-column mt-5 custom-text" *ngIf="payments === null">
        <h1>No records found...</h1>
        <br>
    </div>

    <table *ngIf="payments !== null" class="table">
        <thead class="table-dark custom-text">
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Price</th>
                <th scope="col">Promotion</th>
                <th scope="col">Descount</th>
                <th scope="col">Total amount</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Status</th>
                <th scope="col">Receipt Date</th>
                <th scope="col">Send Receipt by email</th>
            </tr>
        </thead>
        <tbody class="bg-dark custom-text">
            <tr *ngFor="let payment of payments" class="table-hover-helper">
                <td>{{ payment.course_name }}</td>

                <td>{{ payment.course_price | currency }}</td>

                <td *ngIf="payment.promotion_name != null">{{ payment.promotion_name }}</td>
                <td *ngIf="payment.promotion_name == null">N/A</td>

                <td *ngIf="payment.promotion_descount_amount != null">{{ payment.promotion_descount_amount | currency }}</td>
                <td *ngIf="payment.promotion_name == null">N/A</td>

                <td>{{ payment.payment_total_amount | currency }}</td>

                <td>{{ payment.payment_method }}</td>

                <td>
                    <span class="badge text-bg-success" *ngIf="payment.payment_status == 'Payed'">{{ payment.payment_status }}</span>
                    <span class="badge text-bg-info" *ngIf="payment.payment_status == 'Waiting'">{{ payment.payment_status }}</span>
                    <span class="badge text-bg-danger" *ngIf="payment.payment_status == 'Canceled'">{{ payment.payment_status }}</span>
                    
                </td>

                <td>{{ payment.payment_creation_date | date:'MM/dd/yyyy' }}</td>

                <td>
                    <button class="btn btn-outline-warning" (click)="getPaymentsByIdAndSendByEmail(payment.payment_id)">
                        <i class="bi bi-envelope-at"></i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>