<app-spinner *ngIf="isLoadingInformations" style="margin-left: 45%;"></app-spinner>
<div class="container" *ngIf="!isLoadingInformations">

    <div class="alert alert-danger" *ngIf="errorMessage !== null" role="alert">
        <i class="bi bi-exclamation-diamond"></i>
        {{errorMessage}}
    </div>

    <div class="alert alert-success" *ngIf="successMessage !== null" role="alert">
        <i class="bi bi-exclamation-diamond"></i>
        {{successMessage}}
    </div>

    <div class="input-group mb-2" style="width: 40%;margin-left: 30%;">
        <input type="text" class="form-control custom-text" [(ngModel)]="dataForSearch" placeholder="Type the course name here....">
        <button class="btn btn-outline-success" type="button" (click)="getStudentCoursesByCourseName()">
            <i class="bi bi-search"></i>
        </button>
    </div>

    <hr>

    <div class="d-flex flex-column mt-5 text-center custom-text" *ngIf="grades === null">
        <h1>No records found...</h1>
        <br>
    </div>

    <div *ngIf="grades !== null">
        <div class="mb-3" *ngFor="let grade of grades;index as i" class="custom-text mb-2">
            <button class="btn btn-dark container-fluid" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]='"#modal"+i' aria-expanded="false" aria-controls="collapseExample">
                <i class="bi bi-award"></i> {{grade.course_name}} | <i class="bi bi-hourglass-top"></i>
                {{grade.classroom_start_date | date:'MM/dd/yyyy' }} | <i class="bi bi-hourglass-bottom"></i>
                {{grade.classroom_end_date | date:'MM/dd/yyyy' }} 
                
                <i class="bi bi-arrow-down"></i>
            </button>
            <div class="collapse" [id]='"modal"+i'>
                <div class="card card-body bg-dark">
                    <ul class="list-group list-group-flush bg-dark">
                        <li class="list-group-item custom-text bg-dark">
                            Teacher: {{grade.teacher_name}}
                        </li>

                        <li class="list-group-item custom-text bg-dark" *ngIf="grade.first_note == null || grade.first_note == undefined">
                            First note: N/A
                        </li>
                        <li class="list-group-item custom-text bg-dark" *ngIf="grade.first_note != null || grade.first_note != undefined">
                            First note: {{grade.first_note}}
                        </li>

                        <li class="list-group-item custom-text bg-dark" *ngIf="grade.second_note == null || grade.second_note == undefined">
                            Second note: N/A
                        </li>
                        <li class="list-group-item custom-text bg-dark" *ngIf="grade.second_note != null || grade.second_note != undefined">
                            Second note: {{grade.second_note}}
                        </li>

                        <li class="list-group-item custom-text bg-dark" *ngIf="grade.third_note == null || grade.third_note == undefined">
                            Third Note: N/A
                        </li>
                        <li class="list-group-item custom-text bg-dark" *ngIf="grade.third_note != null || grade.third_note != undefined">
                            Third Note: {{grade.third_note}}
                        </li>

                        <li class="list-group-item custom-text bg-dark"
                            *ngIf="grade.additional_note == null || grade.additional_note == undefined">
                            Additional note: N/A
                        </li>
                        <li class="list-group-item custom-text bg-dark"
                            *ngIf="grade.additional_note != null || grade.additional_note != undefined">
                            Additional note: {{grade.additional_note}}
                        </li>

                        <li class="list-group-item custom-text bg-dark"
                            *ngIf="grade.additional_note == null || grade.additional_note == undefined">
                            Final Note: N/A
                        </li>
                        <li class="list-group-item custom-text bg-dark" *ngIf="grade.final_note != null || grade.final_note != undefined">
                            Final Note: {{grade.final_note}}
                        </li>

                        <li class="list-group-item custom-text bg-dark">
                            Status:
                            <span class="badge text-bg-secondary" *ngIf="grade.status == 'N/A'">{{grade.status}}</span>
                            <span class="badge text-bg-success" *ngIf="grade.status == 'Passed'">{{grade.status}}</span>
                            <span class="badge text-bg-danger"
                                *ngIf="grade.status == 'Reproved'">{{grade.status}}</span>
                        </li>
                        <li class="list-group-item bg-dark">
                            <button class="btn btn-outline-warning custom-text"
                                (click)="getStudentGradesByGradeIdAndSendEmailWithInfo(grade.grade_id)">
                                <i class="bi bi-arrow-left-short"></i>
                                <i class="bi bi-envelope-at"></i>
                                Send grade by email
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>