<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>CONTRACT SERVICE TERM</title>
</head>
<body>
	
	<header th:include="HtmlTemplates/fragments/header.html :: header"></header>
	
	<td class="esd-stripe" style="background-color: #080034; text-align: center;">
		<table class="es-content-body" width="auto" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center"
			style="border-top:6px solid transparent;border-bottom:10px solid transparent;">
			<tbody>
				<tr>
					<td class="esd-structure es-p20t es-p20b es-p30r es-p30l" style="align-items: left; background-color: #080034;">
						<table width="100%" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td class="esd-container-frame" width="540" valign="top" align="center">
										<table width="100%" cellspacing="0" cellpadding="0"
											style="background-color: #010101;">
											<tbody>
												<tr>
													<td class="esd-block-text" style="background-color: #fdf7f7; text-align: center;">
														<p style="font-family: 'times new roman', times, baskerville, georgia, serif; font-size: 15px;">
															Lorem ipsum dolor sit amet, consectetur adipiscing elit.
															Aliquam porttitor nulla et tortor elementum vestibulum.
															Donec ac aliquet nisi. Praesent arcu mi, porta eget sem
															vitae, gravida lobortis libero. Sed non urna pretium metus
															efficitur ullamcorper. Donec eget dui ut eros egestas
															dignissim. Nunc elementum ipsum sed eros varius, eget tempus
															lorem finibus. Nunc tortor magna, lobortis eu ornare eget,
															scelerisque vitae quam. Aliquam ullamcorper varius est, a
															eleifend lacus. Pellentesque vestibulum massa eget dolor
															vehicula, quis viverra magna bibendum.</p>
														<p style="font-family: 'times new roman', times, baskerville, georgia, serif; font-size: 15px;">
															Fusce fermentum, purus sit amet vehicula condimentum, massa
															nibh tincidunt dolor, non venenatis mi mauris vitae ligula.
															Nulla interdum laoreet lobortis. Donec interdum pellentesque
															velit ac lacinia. Praesent pulvinar, nisi sit amet suscipit
															maximus, nibh enim dictum ipsum, ac feugiat turpis purus in
															enim. Aliquam rutrum venenatis congue. Morbi odio ex,
															pretium vitae arcu in, semper accumsan lacus. Aenean
															bibendum nisi nec iaculis lobortis. Fusce ante tellus,
															bibendum sodales nisi vitae, consequat hendrerit mi.
															Phasellus eu consectetur ipsum. Nunc lacinia rhoncus
															fermentum. Class aptent taciti sociosqu ad litora torquent
															per conubia nostra, per inceptos himenaeos.</p>
														<p style="font-family: 'times new roman', times, baskerville, georgia, serif; font-size: 15px;">
															Donec facilisis id tellus sed pharetra. Praesent efficitur
															nisi fermentum, varius erat in, porta arcu. Morbi in magna
															orci. Vestibulum faucibus pellentesque orci sit amet
															egestas. Maecenas in augue ultricies, varius libero sed,
															lobortis sem. Vestibulum ac magna ante. Sed ipsum ipsum,
															posuere eu condimentum non, luctus a libero.</p>
														<p style="font-family: 'times new roman', times, baskerville, georgia, serif; font-size: 15px;">
															Nullam elementum condimentum justo, a pharetra elit auctor
															ornare. Nulla facilisi. Mauris vulputate facilisis accumsan.
															Suspendisse lacus velit, aliquet ac porttitor non, viverra
															quis magna. Integer ac congue justo, pellentesque imperdiet
															risus. Phasellus et nisi purus. Nullam efficitur urna sed
															dolor faucibus, non aliquam magna commodo. Proin at tempus
															leo. Sed consectetur, eros a bibendum eleifend, ante purus
															mollis elit, nec lobortis diam libero at nisl. Ut hendrerit
															ultricies aliquam. Sed quis felis et mauris tempus convallis
															eget quis leo.</p>
														<p style="font-family: 'times new roman', times, baskerville, georgia, serif; font-size: 15px;">
															Sed vehicula viverra purus. Pellentesque habitant morbi
															tristique senectus et netus et malesuada fames ac turpis
															egestas. Sed sollicitudin vehicula orci, vel pellentesque
															ligula iaculis eu. Morbi volutpat orci quis eleifend
															dignissim. Mauris aliquet eget libero at mollis. Suspendisse
															augue ipsum, ullamcorper id commodo tempus, mattis ut nisi.
															Maecenas sit amet erat tempor, dignissim justo vel,
															porttitor ligula. Morbi ultricies metus at magna tristique,
															et gravida velit posuere. Cras feugiat elit quis arcu
															maximus aliquam. Duis suscipit, enim eget congue
															condimentum, odio magna dapibus velit, nec ullamcorper erat
															dui blandit mauris. Mauris in laoreet nulla. Mauris sagittis
															diam eget dignissim cursus.</p>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td class="esd-container-frame" width="540" valign="top" align="center">
										<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#010101"
											style="background-color: #010101;">
											<tbody>
												<tr>
													<td align="center" class="esd-block-text" bgcolor="#fdf7f7">
														<p
															style="color: #010101; font-size: 18px; font-family: 'times new roman', times, baskerville, georgia, serif;">
	
															<u><em><b th:text="'Signature: '+ ${studentName}"></b></em></u>
															<br></br>
															<u><em><b th:text="'Date: ' + ${date}"></b></em></u>
	
															<br></br>
														</p>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</body>

</html>