<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>

	<header th:replace="fragments/header :: header"></header>
	<td class="esd-stripe" align="center">
		<table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center"
			style="border-top:6px solid transparent;border-bottom:10px solid transparent;">
			<tbody>
				<tr>
					<td class="esd-structure es-p20t es-p20b es-p30r es-p30l" align="left" bgcolor="#867d7d"
						style="background-color: #867d7d; background-image: url(https://mojpey.stripocdn.email/content/guids/CABINET_830acd94543dda6a6f48b698d995eb884f98e05084b6caaaffdd7ad1c69a41b9/images/backgroundjpg.jpg); background-repeat: no-repeat; background-position: center top;"
						background="https://mojpey.stripocdn.email/content/guids/CABINET_74774ff3fb82f515f0996850d488e06ecc682b7bd5e428e5a638e79e7a6e7930/images/background.jpg">
						<table width="100%" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td class="esd-container-frame" width="540" valign="top" align="center">
										<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#010101"
											style="background-color: #010101;">
											<tbody>
												<tr>
													<td align="center" class="esd-block-text es-p35" bgcolor="#e7dfdf">
														<p style="line-height: 120%; color: #1d0100;">
															<b></b><em><strong>Hii hope you are
																	good.</strong></em><b></b></p>
														<p style="line-height: 120%; color: #1d0100; text-align: left;">
															<br><br></p>
														<p style="line-height: 120%; color: #1d0100; text-align: left;">
															<em><strong>Below is your course
																	information:<br><br></strong></em></p>
														<ul>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p><em><strong th:text="'Course: '+${course}"></strong></em></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p><em><strong th:text="'Modality: '+${modality}"></strong></em><br>
																</p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p><em><strong th:text="'Field: '+${field}"></strong></em><br></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p><em><strong th:text="'Price: $'+${price}"></strong></em><br></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p><em><strong th:text="'Teacher: '+${teacher}"></strong></em><br></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p><em><strong th:text="'Period: '+${period}"></strong></em><br></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p><b><strong th:text="'Time: '+${start_time}+' - '+${end_time}"></strong></b></p>
															</li>
															<li
																style="line-height: 120%; color: #1d0100; text-align: left;">
																<p><b><strong th:text="'Date: '+${start_date}+' - '+${end_date}"></strong></b><br>
																</p>
															</li>
														</ul>
														<p style="line-height: 120%; color: #1d0100; text-align: left;">
															<br></p>
														<p
															style="line-height: 120%; color: #1d0100; text-align: center; font-size: 16px;">
															<em><strong><span style="background-color:#ADD8E6;">All our
																		knowledge begins with
																		feelings.</span></strong></em></p>
														<p style="line-height: 120%; color: #1d0100; text-align: left;">
															<br></p>
														<p style="line-height: 120%; color: #1d0100; text-align: left;">
															<em><strong>If you have any questions, please contact our
																	customer service by:<br>&nbsp; &nbsp; &nbsp; SAP
																	Phone: +44 (22) 222222222<br>&nbsp; &nbsp; &nbsp;
																	Email: StudentHomeSAP@outlook.com<br><br>&nbsp;
																	&nbsp; DON'T REPLY THIS EMAIL</strong></em><br><br>
														</p>
													</td>
												</tr>
												<br>
												<tr th:replace="fragments/footer :: footer1"></tr>
												<br>
												<tr th:replace="fragments/footer :: footer2"></tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>

</body>

</html>